.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbdd83;
  color: white;
}

.title {
  color: black;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
  color: black;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
