<div class="container">
  <mat-card class="card mat-elevation-z6">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">{{ title }}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{ subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <div class="actions">
      <button class="btn" mat-fab (click)="toAlbums()">Albums</button>
      <button class="btn" mat-fab (click)="toPhotos()">Photos</button>
      <button class="btn" mat-fab (click)="toPosts()">Posts</button>
    </div>
    <router-outlet></router-outlet>
  </mat-card>
</div>

